@using Blazicons

<footer class="bg-white dark:bg-gray-800 border-t dark:border-gray-600 mt-16">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div class="flex flex-row sm:flex-row justify-between items-center">
            <div class="text-center">
                <p class="text-gray-600 dark:text-gray-300">&copy; @DateTime.Now.Year GoForGoldman. All rights reserved.</p>
            </div>
            <div class="flex flex-row items-center text-gray-600 dark:text-gray-300 gap-2">
                <div>Find me:</div>
                <div class="ml-2">
                    <a href="https://linkedin.com/in/matt-goldman"><Blazicon Svg="BootstrapIcon.Linkedin" /></a>
                </div>
                <div class="ml-2">
                    <a href="https://bsky.app/profile/mattgoldman.bsky.social"><Blazicon Svg="BootstrapIcon.Bluesky" /></a>
                </div>
                <div class="ml-2">
                    <a href="https://github.com/matt-goldman"><Blazicon Svg="BootstrapIcon.Github" /></a>
                </div>
                <div class="ml-2">
                    <a href="https://youtube.com/@@goforgoldman"><Blazicon Svg="BootstrapIcon.Youtube" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
