<div>
    <h1>Colors</h1>
    <p>This component doesn't do anything, but it includes the colors used throughout the app.</p>
    <p>It is used to ensure that Tailwind includes the colors in the final CSS bundle.</p>
    <h3>Colors used by TagToColor helper</h3>
    <ul>
        <li class="text-purple-800 bg-purple-100">C#</li>
        <li class="text-yellow-800 bg-yellow-100">JavaScript</li>
        <li class="text-blue-800 bg-blue-100">Python</li>
        <li class="text-orange-800 bg-orange-100">HTML</li>
        <li class="text-pink-800 bg-pink-100">CSS</li>
        <li class="text-green-800 bg-green-100">Java</li>
        <li class="text-red-800 bg-red-100">Ruby</li>
        <li class="text-gray-800 bg-gray-100">News</li>
        <li class="text-cyan-800 bg-cyan-100">Blazor</li>
        <li class="text-teal-800 bg-teal-100">Tutorial</li>
        <li class="text-indigo-800 bg-indigo-100">.NET</li>
        <li class="text-lime-800 bg-lime-100">Tips</li>
        <li class="text-amber-800 bg-amber-100">Book</li>
        <li class="text-violet-800 bg-violet-100">Article</li>
        <li class="text-fuchsia-800 bg-fuchsia-100">Blog</li>
        <li class="text-emerald-800 bg-emerald-100">Career</li>
        <li class="text-rose-800 bg-rose-100">Life</li>
        <li class="text-slate-800 bg-slate-100">Misc</li>
        <li class="text-gray-800 bg-gray-100">Default</li>

    </ul>
</div>
