.promo-block {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: flex-start;
    align-content: flex-start;
  }

.promo-image {
    margin: 5px;
    width: 200px;
}

.goldie-table th, .goldie-table td {
  padding: 10px;
}